[submodule "ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "tribe-turbo"]
	path = lib/tribe-turbo
	url = https://github.com/fei-protocol/tribe-turbo
[submodule "fuse-flywheel"]
	path = lib/fuse-flywheel
	url = https://github.com/fei-protocol/fuse-flywheel
[submodule "solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/v3-periphery-foundry"]
	path = lib/v3-periphery-foundry
	url = https://github.com/gakonst/v3-periphery-foundry
